
COCTool/bin/Debug/COCTool.exe
COCTool/bin/Debug/COCTool.exe.config
COCTool/bin/Debug/COCTool.pdb
COCTool/bin/Debug/COCTool.vshost.exe
COCTool/bin/Debug/COCTool.vshost.exe.config
COCTool/bin/Debug/COCTool.vshost.exe.manifest
COCTool/bin/Release/COCTool.exe
COCTool/bin/Release/COCTool.exe.config
COCTool/bin/Release/COCTool.pdb
COCTool/bin/Release/COCTool.vshost.exe
COCTool/bin/Release/COCTool.vshost.exe.config
COCTool/bin/Release/COCTool.vshost.exe.manifest
COCTool/obj/Debug/COCTool.csproj.FileListAbsolute.txt
COCTool/obj/Debug/COCTool.csproj.GenerateResource.Cache
COCTool/obj/Debug/COCTool.csprojResolveAssemblyReference.cache
COCTool/obj/Debug/COCTool.Deck.resources
COCTool/obj/Debug/COCTool.exe
COCTool/obj/Debug/COCTool.Form1.resources
COCTool/obj/Debug/COCTool.pdb
COCTool/obj/Debug/COCTool.Properties.Resources.resources
COCTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
COCTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
COCTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
COCTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
COCTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
COCTool/obj/Release/COCTool.csproj.FileListAbsolute.txt
COCTool/obj/Release/COCTool.csproj.GenerateResource.Cache
COCTool/obj/Release/COCTool.Deck.resources
COCTool/obj/Release/COCTool.exe
COCTool/obj/Release/COCTool.Form1.resources
COCTool/obj/Release/COCTool.pdb
COCTool/obj/Release/COCTool.Properties.Resources.resources
COCTool/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
COCTool/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
COCTool/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
COCTool/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
COCTool/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
